@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');
*{
    color: white;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    background-color: #1A1A1A;
}
 img{
     max-width: 100%;
 }
p{
    margin-bottom: 0 !important;
}

.bg-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-earth{
    position: absolute;
    right: 0;
    height: 100vh;
}
.padding-t-b-100
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-gray{
    color: #8193B2;
}

.text-light-gray{
    color:#D5D5D5 ;
}
.text-gradient{
    background: linear-gradient(90.22deg, #6CD4C2 1.12%, #008CFF 116.04%);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent;
}

.fw-700{
    font-weight: 700;
}

.fw-500{
    font-weight: 500;
}
.fw-800{
    font-weight: 800;
}
.text-140{
    font-size: 140px;
}

.font-72{
    font-size: 72px;
}

.font-24{
    font-size: 24px;
}

.font-40{
    font-size: 40px;
}
.text-lightgray{
    color: #8193B2; 
}

.btn-primary{
    color: black !important;
    background: #6CD4C2 !important;
    border: none !important;
    box-shadow: 0px 0px 0px #C2DD55 !important;
}

.bg-black{
    background-color: black;
}

.heading h1{
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 100px;
}

.btnn{
    border: 1px solid white;
    border-radius: 40px;
}
.btn-outline-light{
    border-radius: 30px !important;
}

.text-shadow{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #6CD4C2;
}

.text-gray{
    color: #8193B2;
}

.row .col-12{
    margin-bottom: 15px;
}
.icon-box-block{
    background: rgba(255, 255, 255, 0.08);
    box-shadow: inset -1px 1px 0px rgba(129, 147, 178, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;  
    border-radius: 16px;
    height: 100%;
}

.box-title{
    display: flex;
}

.icon{
    display: flex;
}

.w-60{
    width: 60%;
}

.built-box{
    background-color: #1A1A1A;
    box-shadow: -1px 2px 2px rgba(54, 56, 64, 0.2), inset -1px 1px 0px rgba(38, 50, 56, 0.4);
    border-radius: 24px;
    padding: 80px 60px;
}

.bg-light-gray{
    background-color: #1C1C1C;
    border-radius: 24px;
}

.banner-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}
.banner-padding1{
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-footer{
    background-color: #181818;
    font-family: 'Manrope', sans-serif;
}

.bg-light-gray1{
    background-color: #1A1A1A;
}

.our-partners{
    font-family: 'Manrope', sans-serif;  
}